{{!-- // Citation for the following file:
// Date: 05/21/2024
// Adapted from nodejs-starter-app on github.com provided to students via Canvas/course materials
// Code was copied and pasted from the code snippets and changed to fit the database needs for project
// Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app --}}
<body>
<div id="nav_bar">
    <button>
        <a href="/">Travelers</a>
    </button>
    <button>
        <a href="travel_agents">Travel Agents</a>
    </button> 
    <button>
        <a href="travel_packages">Travel Packages</a>
    </button>
    <button>
        <a href="bookings">Bookings</a>
    </button>
    <button>
        <a href="items">Items</a>
    </button>
    <button>
        <a href="item_types">Item Types</a>
    </button>
</div>

<table id="bookings-table">

    {{!-- Header section --}}
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- need to change traveler and agent id to show name instead of number --}}
        {{#each data}}
        <tr data-value={{this.booking_id}}>
            <td>{{this.booking_id}}</td>
            <td>{{this.quantity}}</td>
            <td>{{this.item_cost}}</td>
            <td>{{this.subtotal}}</td>
            <td>{{this.package_id}}</td>
            <td>{{this.item_id}}</td>
            <td><button onclick="deleteBooking({{this.booking_id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<script src="/js/delete_booking.js"></script>



<div id="insert">
<form id="add-booking-form" method="POST" action="/add-booking-form">
    <legend><strong>Add a Booking</strong></legend>
    <fieldset class="fields">
    <label for="input-booking-quantity">Quantity: </label>
    <input type="number" name="input-booking-quantity" id="input-booking-quantity">
    

    <label for="input-booking-package-id">Package: </label>
    <select name="input-booking-package-id" id="input-booking-package-id">
        <option value=""></option>
        {{#each travel_packages}}
        <option value="{{this.package_id}}">{{this.description}}</option>
        {{/each}}
    </select>

    <label for="input-booking-item-id">Item: </label>
    <select name="input-booking-item-id" id="input-booking-item-id">
        <option value=""></option>
        {{#each items}}
        <option value="{{this.item_id}}">{{this.description}}</option>
        {{/each}}
    </select>

    <input type="submit" class="affirmButton">
</fieldset>
</form>
</div>

<div id="insert">

<form id="update-booking-form" method="POST" action="/update-booking-form">
<legend><strong>Update a Booking</strong></legend>
    <label for="update-booking-id">Booking ID: </label>
    <select name="update-booking-id" id="mySelect">
        <option value="test">Select an ID</option>
        {{#each data}}
        <option value="{{this.booking_id}}">{{this.booking_id}}</option>
        {{/each}}
    </select>

    <label for="update-booking-quantity">Quantity: </label>
    <input type="number" name="update-booking-quantity" id="update-booking-quantity">

    <label for="update-booking-item-cost">Item Cost: </label>
    <input type="float-input" name="update-booking-item-cost" id="update-booking-item-cost">
    
    <input type="submit" class="affirmButton">

</form>

{{!--<script src="./js/update_person.js"></script> --}}
</div>


</body>