{{!-- // Citation for the following file:
// Date: 05/21/2024
// Adapted from nodejs-starter-app on github.com provided to students via Canvas/course materials
// Code was copied and pasted from the code snippets and changed to fit the database needs for project
// Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app --}}

<body>
<div id="nav_bar">
    <button>
        <a href="/">Travelers</a>
    </button>
    <button>
        <a href="travel_agents">Travel Agents</a>
    </button> 
    <button>
        <a href="travel_packages">Travel Packages</a>
    </button>
    <button>
        <a href="bookings">Bookings</a>
    </button>
    <button>
        <a href="items">Items</a>
    </button>
    <button>
        <a href="item_types">Item Types</a>
    </button>
</div>
<table id="item-types-table">

    {{!-- Header section --}}
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- need to change traveler and agent id to show name instead of number --}}
        {{#each data}}
        <tr>
            <td>{{this.item_type}}</td>
            <td>{{this.description}}</td>
            <td>
            <form method="POST" action="/delete-item-type/">
                <input type="hidden" name="item_type" value="{{this.item_type}}">
                <button style="width=10px" type="submit">Delete</button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

<div id="insert">
<form id="add-item-type-form" method="POST" action="/add-item-type-form">
    <legend><strong>Add an Item Type</strong></legend>
    <fieldset class="fields">
    <label for="input-item-type-description">Description: </label>
    <input type="text-area" name="input-item-type-description" id="input-item-type-description">

    <input type="submit" class="affirmButton">
</fieldset>
</form>
</div>



<div id="insert">

<form id="update-item-type-form" method="POST" action="/update-item-type-form">
<legend><strong>Update an Item Type</strong></legend>
<fieldset>
    <label for="update-item-type-id">Item Type: </label>
    <select name="update-item-type-id" id="mySelect">
        <option value="test">Select an ID</option>
        {{#each data}}
        <option value="{{this.item_type}}">{{this.item_type}}</option>
        {{/each}}
    </select>

    <label for="update-item-type-description">Description </label>
    <input type="text" name="update-item-type-description" id="update-item-type-description">
    
    <input type="submit" class="affirmButton">
</fieldset>
</form>


</div>


</body>