{{!-- // Citation for the following file:
// Date: 05/21/2024
// Adapted from nodejs-starter-app on github.com provided to students via Canvas/course materials
// Code was copied and pasted from the code snippets and changed to fit the database needs for project
// Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app --}}
<body>
<div id="nav_bar">
    <button>
        <a href="/">Travelers</a>
    </button>
    <button>
        <a href="travel_agents">Travel Agents</a>
    </button> 
    <button>
        <a href="travel_packages">Travel Packages</a>
    </button>
    <button>
        <a href="bookings">Bookings</a>
    </button>
    <button>
        <a href="items">Items</a>
    </button>
    <button>
        <a href="item_types">Item Types</a>
    </button>
</div>

<table id="items-table">

    {{!-- Header section --}}
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- need to change traveler and agent id to show name instead of number --}}
        {{#each data}}
        <tr>
            <td>{{this.item_id}}</td>
            <td>{{this.description}}</td>
            <td>{{this.cost}}</td>
            <td>{{this.item_type}}</td>
            <td>
            <form method="POST" action="/delete-item/">
                <input type="hidden" name="item_id" value="{{this.item_id}}">
                <button style="width=10px" type="submit">Delete</button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>



<div id="insert">
<form id="add-item-form" method="POST" action="/add-item-form">
    <legend><strong>Add an Item</strong></legend>
    <fieldset class="fields">
    <label for="input-item-description">Description: </label>
    <input type="text" name="input-item-description" id="input-item-description">
    
    <label for="input-item-cost">Cost: </label>
    <input type="float-input" name="input-item-cost" id="input-item-cost">

    <label for="input-item-type">Item Type: </label>
    <select name="input-item-type" id="input-item-type">
        <option value=""></option>
        {{#each item_types}}
        <option value="{{this.item_type}}">{{this.description}}</option>
        {{/each}}
    </select>

    <input type="submit" class="affirmButton">
</fieldset>
</form>
</div>


</body>