{{!-- // Citation for the following file:
// Date: 05/21/2024
// Adapted from nodejs-starter-app on github.com provided to students via Canvas/course materials
// Code was copied and pasted from the code snippets and changed to fit the database needs for project
// Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app --}}
<body>
<div id="nav_bar">
    <button>
        <a href="/">Travelers</a>
    </button>
    <button>
        <a href="travel_agents">Travel Agents</a>
    </button> 
    <button>
        <a href="travel_packages">Travel Packages</a>
    </button>
    <button>
        <a href="bookings">Bookings</a>
    </button>
    <button>
        <a href="items">Items</a>
    </button>
    <button>
        <a href="item_types">Item Types</a>
    </button>
</div>

<table id="travel-packages-table">

    {{!-- Header section --}}
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- need to change traveler and agent id to show name instead of number --}}
        {{#each data}}
        <tr>
            <td>{{this.package_id}}</td>
            <td>{{this.date}}</td>
            <td>{{this.total_cost}}</td>
            <td>{{this.description}}</td>
            <td>{{this.traveler_id}}</td>
            <td>{{this.agent_id}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>


{{!-- NEED TO UPDATE TO ADD DROPDOWN AND POPULATE --}}
<h2>Add a Travel Package</h2>
<p>To add a new travel package, please enter their information below and click 'Submit'!</p>
<form id="add-travel-package-form" method="POST" action="/add-travel-package-form">
    <label for="input-package-date">Date: </label>
    <input type="date" name="input-package-date" id="input-package-date">
    
    <label for="input-package-total-cost">Total Cost: </label>
    <input type="number" name="input-package-total-cost" id="input-package-total-cost">


    <input type="submit" class="affirmButton">
</form>


</body>